
body {
  background-color: #f5f7fa;
  color: #000000;
}

.card-custom {
  background-color: #fff;
  border: none;
  color: #fff;
  border-radius: 8px;
}

.card-header-custom {
  background-color: #0082b5;
  border-bottom: none;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-custom .card-body, 
.card-custom .card-body p, 
.card-custom .card-body h5 {
  color: #000;
}

.form-label {
  color:  #333;
}

.btn-custom {
  background-color: #0082b5;
  border: none;
  color: #ffffff;
  font-weight: 600;
}
.btn-custom:hover {
  background-color: #005bb5;
  color: #fcfcfc;
}

/* .text-accent {
  color: #a5905a;
  cursor: pointer;
}
.text-accent:hover {
  text-decoration: underline;
} */

.card-custom .card-body {
  padding: 1.5rem;
}
