* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .menu-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 65%;
    height: 100vh;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .flex-movil {
    display: flex;
    align-items: flex-start;
  }

  .movil {
    left: -100%;
    transition: all 0.5 ease;
  }

  .custom-focus {
    transition: background 0.4s ease-in-out;
  }

  .custom-focus:hover {
    background: rgba(255, 255, 255, 0.3);
  }

  nav {
    transition: all 0.5s ease;
    background: #252525;
  }

  nav ul li a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  .boton-navbar {
    border: none;
    background: transparent;
    font-weight: 800;
    color: #fff;
    font-size: large;
  }

  .bl {
    display: block;
  }

  @media (min-width: 768px) {
    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .menu-nav {
      position: static;
      top: auto;
      left: auto;
      z-index: 5;
      width: auto;
      height: auto;
    }

    nav {
      background: transparent;
    }

    nav ul li a {
      border-bottom: none;
    }

    .boton-navbar {
      display: none;
    }
  }